/* LIGHT MODE BACKGROUND */
body.light-mode {
  background: url("/bg-light.jpeg") no-repeat center center fixed;
  background-size: cover;
  transition: background 0.3s ease-in-out;
}

/* DARK MODE BACKGROUND */
body.dark-mode {
  background: #0d1117;
  transition: background 0.3s ease-in-out;
}
